<h1>Listing dev_folios</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Job</th>
    <th>Dev</th>
    <th>Dev public key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dev_folios.each do |dev_folio| %>
  <tr>
    <td><%= dev_folio.label %></td>
    <td><%= dev_folio.job_id %></td>
    <td><%= dev_folio.dev_id %></td>
    <td><%= dev_folio.dev_public_key %></td>
    <td><%= link_to 'Show', dev_folio %></td>
    <td><%= link_to 'Push', push_dev_folio_path(dev_folio), method: :put %></td>
    <td><%= link_to 'Edit', edit_dev_folio_path(dev_folio) %></td>
    <td><%= link_to 'Destroy', dev_folio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dev folio', new_dev_folio_path %>
